html,
body,
#root {
	background:#000000;
	height: 100%;
	min-height: 100%;
	font-family: 'Montserrat', sans-serif;
}

body {
	/* font-family: verdana, arial, helvetica, sans-serif; */
	color: white;
	margin: 0;
}

h2 {
	/* font-family: verdana, arial, helvetica, sans-serif; */
}

 .icd {
	 /* width: 750px; */
	 /* font-family: verdana, arial, helvetica, sans-serif;
   color: white;
   font-size: 40px; */
	 /* margin-left: 500px; */
}

.search_icon {
	/* padding-left: 30px; */
}

.account {
	/* font-size: 30px;
	text-decoration: none;
  color: white;
	background-color: #002442; */
}

.home {
	/* text-decoration: none;
	padding-left: 45px;
	font-size: 30px;
	color: white; */
}

.bookmarks {
  /* text-decoration: none;
	padding-left: 50px;
	font-size: 30px;
	color: white; */
}

.chapters {
  /* text-decoration: none;
	padding-left: 50px;
	font-size: 30px;
	color: white; */
}

.specialty {
  /* text-decoration: none;
	padding-left: 50px;
	font-size: 30px;
	color: white; */
}

.history {
	/* text-decoration: none;
	padding-left: 50px;
	font-size: 30px;
	color: white; */
}

.carelogos1 {
  margin-left: 40px;

}

.field {
	/* padding-right: 400px;
	padding-left: 20px;
	padding-top: 10px;
	border-radius: 200px; */
}

.button{
	/* font-family: verdana, arial, helvetica, sans-serif;
  color: white;
  background-color: #00CBF1;
  border-radius: 10px; */
}

.rectangle-2 {
	/* margin-top: auto;
	margin-right: auto;
	height: 1200px;
	width: 300px;
	background-color: #2C75B6; */
}

.rectangle-4 {
	/* height: 100%;
	width: 100px; */
	background: linear-gradient(140.81deg, #3587CA 0%, #002451 100%);
}

.rectangle-2-copy {
	/* padding-top: 10px;
	padding-left: 20px;
  /* height: 100px; */
  /* width: 280px;
	background-color: #002442; */ */

}

.rectangle-5 {
  /* padding-top: 10px;
  margin-left: 450px;
  height: 70px;
  width: 790px;
  border-radius: 80px;
  background: linear-gradient(218.74deg, #002442 0%, #002C64 100%); */
  /* box-shadow: inset 0 -1px 1px 0 rgba(255,255,255,0.5), 0 2px 4px 0 rgba(0,0,0,0.5); */
}

.main-container {
	display: flex;
	height: 100%;
	min-height: 100%;
}

.sidebar {
	display: flex;
	background: #2e7abb; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #2e7abb 0%, #1b538e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #2e7abb 0%,#1b538e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #2e7abb 0%,#1b538e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e7abb', endColorstr='#1b538e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	flex-direction: column;
	justify-content: space-between;
	width: 25%;
}

.sidebar .home{
	background: url('./images/home.png') no-repeat 18% 50%;
	background-size: 30px 30px;
}

.sidebar .bookmarks{
	background: url('./images/home.png') no-repeat 18% 50%;
	background-size: 30px 30px;
}

.sidebar .chapters{
	background: url('./images/home.png') no-repeat 18% 50%;
	background-size: 30px 30px;
}

.sidebar .specialty {
	background: url('./images/home.png') no-repeat 18% 50%;
	background-size: 30px 30px;
}

.sidebar .history {
	background: url('./images/home.png') no-repeat 18% 50%;
	background-size: 30px 30px;
}

.sidebar img {
	margin-top: 30px;
	width: 150px;
	height: auto;
}

.sidebar ul {
	padding-left: 0;
}

.sidebar ul li a {
	display: block;
	font-size: 20px;
	color: #ffffff;
	text-transform: capitalize;
	padding: 20px 0 20px 90px;
	text-decoration: none;
}

.menu {
	list-style: none;
}

.account {
	display: block;
	font-size: 18px;
	box-sizing: border-box;
	background-color: #1a4c89;
	color: #ffffff;
	padding: 20px 0 20px 90px;
	text-transform: capitalize;
	text-decoration: none;
	width: 100%;
	z-index: 999;
}

.container {
	text-align: center;
  display: flex;
  flex-direction: column;
	margin: 23vh 0;
  justify-content: space-evenly;
}

.container h1,
.container h2 {
	font-weight: 100;
	text-transform: uppercase;
}

.container h2  {
	display: block;
	color: rgba(255,255,255, 0.7);
	font-size: 18px;
	width: 60%;
	margin: 0 auto 50px;
	width: 60%;
	text-transform: capitalize;
}

.container form {
	position: relative;
	margin: 0 auto;
	width: 70%;
}

.container form input[type="text"]{
	display: block;
	font-size: 24px;
	background: #002d63;
	border-radius: 35px;
	border: 0;
	box-sizing: border-box;
	height: 68px;
	line-height: 1.2;
	/* padding: 20px 100px 20px 100px; */
	padding-left: 100px;
	width: 100%;
}

.container form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
	font-weight: 100;
}
.container form input::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
	font-weight: 100;
}
.container form input:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
	font-weight: 100;
}
.container form input:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
	font-weight: 100;
}

.container form input[type="submit"] {
	position: absolute;
	font-size: 20px;
  border-radius: 35px;
  border: 0;
  background: #01c6f0;
  color: #ffffff;
  top: 50%;
  right: 6px;
  padding: 16px 34px;
	transform: translateY(-50%);
}

.modallll input {
	color: #000000 !important;
}
