html,
body,
#root {
	background:#1a4c89;
	color: white;
	height: 100%;
	min-height: 100%;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 36px;
	text-align: center;
}

h1,
h2 {
	font-weight: 100;
	text-transform: uppercase;
}

h2  {
	display: block;
	color: rgba(255,255,255, 0.7);
	font-size: 28px;
	line-height: 34px;
	width: 60%;
	margin: 0 auto;
	width: 60%;
	text-transform: capitalize;
	text-align: center;
}

.rectangle-4 {
	background: linear-gradient(140.81deg, #3587CA 0%, #002451 100%);
}

.main-container {
	position: relative;
	height: 100%;
	min-height: 100%;
}

.main-container.rectangle-4{
	display: flex;
}

.main-code-container {
	position: absolute;
	top:0;
	left: 0;
	background: linear-gradient(140.81deg, #3587CA 0%, #002451 100%);
	padding-left: 266px;
	flex-direction: column;
	justify-content: space-evenly;
	min-height: 100%;
	width: 100%;
}

.menu {
	list-style: none;
}



.modallll input {
	color: #000000 !important;
}
