@font-face {
  font-family: 'ProximaNova-Light';
  src: local('ProximaNova-Light'),
	     url('../fonts/ProximaNova-Light.svg#svgFontName') format('svg'),
       url('../fonts/ProximaNova-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/ProximaNova-Light.ttf')  format('truetype'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
	src: local('ProximaNova-Regular'),
			 url('../fonts/ProximaNova-Regular.woff') format('woff'), /* Pretty Modern Browsers */
			 url('../fonts/ProximaNova-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
			 url('../fonts/ProximaNova-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
	src: local('ProximaNova-Bold'),
			 url('../fonts/ProximaNova-Bold.woff') format('woff'), /* Pretty Modern Browsers */
			 url('../fonts/ProximaNova-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
			 url('../fonts/ProximaNova-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
	background:#1a4c89;
	color: white;
	height: 100%;
	min-height: 100%;
	margin: 0;
	font-family: 'ProximaNova-Light', serif;
}

h1 {
	font-size: 45px;
	margin-bottom: 0;
	text-align: center;
}

h1,
h2 {
	font-weight: 100;
	text-transform: uppercase;
}

h2  {
	display: block;
	color: rgba(255,255,255, 0.7);
	font-size: 22px;
	line-height: 34px;
	width: 69%;
	margin: 0 auto;
	width: 60%;
	text-transform: capitalize;
	text-align: center;
}

.rectangle-4 {
	background: linear-gradient(140.81deg, #3587CA 0%, #002451 100%);
}

.main-container {
	position: relative;
	height: 100%;
	min-height: 100%;
}

.main-container.rectangle-4{
	display: flex;
}

.main-code-container {
	position: absolute;
	top:0;
	left: 0;
	background: linear-gradient(140.81deg, #3587CA 0%, #002451 100%);
	padding-left: 266px;
	flex-direction: column;
	justify-content: space-evenly;
	min-height: 100%;
	width: 100%;
}

.results h1,
.chapters h1,
.chapter h1,
.history h1,
.bookmarks h1,
.code h1 {
  font-size:28px;
	letter-spacing: 1px;
	margin-top: 0;
	padding: 70px 0 60px 30px;
  text-align:left;
}

.history h2 {
	text-align: left;
	width: 100%;
}

.main-code-container > div.searchContainer {
	margin-top: 28vh;
}

.menu {
	list-style: none;
}

.modallll input {
	color: #000000 !important;
}
