.codeLink {
  display: flex;
}

.codeLink:hover {
  text-decoration: none;
}

.bookmark {
  background: none;
  border: 0;
  margin-right: 29px;
}

.codeNum {
  display:block;
  font-size: 28px;
  color: #5CD7FF;
  text-transform: uppercase;
  width: 20%;
}

.codeDesc {
  color: #ffffff;
  font-size: 28px;
}

.pagination {
  display: block;
  margin: 50px auto 150px;
  width: 200px;
}

.pagination li a {
  float: none;
  color: #ffffff !important;
  background: none!important;
  border: 0;
  font-family: 'ProximaNova-Bold', serif;
  font-size: 25px;
  padding: 6px 22px;
}

.pagination li.active a,
.pagination li a:hover {
  border-radius: 5px;
  background: #00C9F0!important;
}

.highlighter {
  display: inline-block;
  background:#00C9F0;
  border-radius: 6px;
  color: #002A5E;
  font-family: 'ProximaNova-Regular';
  padding: 0px 5px;
}
